<div class="container">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/nouveau-produit-component" routerLinkActive="active">Nouveau Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modifier-produit-component" routerLinkActive="active">Modifier Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/liste-produit-component" routerLinkActive="active">Liste Produits</a>
      </li>

    </ul>
  </nav>
</div>
