<div class="container">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active">Authantification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestion-produit" routerLinkActive="active">Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestion-camion" routerLinkActive="active">Camion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gestion-client" routerLinkActive="active">Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/gestion-blclient" routerLinkActive="active">Bl Client</a>
      </li>
    </ul>
  </nav>
</div>

