<div class="container">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/nouveau-blclient" routerLinkActive="active">Nouveau BL Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modifier-blclient" routerLinkActive="active">Modifier BL Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/liste-blclient" routerLinkActive="active">Liste BL Client</a>
      </li>

    </ul>
  </nav>
</div>
