<a routerLink="/nouveau-client">Nouveau Client</a>
<label>...</label>
<input type="text" id="myCode" placeholder="Recherche par code ..." #code (keyup)="findClientByCode(code.value)">
<input type="text" id="myNom" placeholder="Recherche par nom ..." #nom (keyup)="findClientByNom(nom.value)">
<ul class="list-group" *ngFor="let client of listClient">
  <li class="list-group-item">
    <div class="navbar-right">
      <button class="btn btn-success" >Edit</button>
      <button class="btn btn-danger" (click)="onDeleteClient(client.id)">Delete</button>
    </div>
    <h3><a style="cursor: pointer" (click)="onViewClient(client.id)">{{client.code}} -- {{client.nom}}</a></h3>
    <p>Adresse : {{client.adresse}} -- Ville : {{client.ville}}</p>
  </li>
</ul>
